In [1]:
from pyspark.sql import SparkSession

#spark = SparkSession.builder.appName("Jupyter").master("spark://spark-iceberg.sandbox.net:7077").getOrCreate()
spark = SparkSession.builder.appName("Jupyter").getOrCreate()
spark

24/09/04 15:05:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
%%sql

USE jdbc_catalog;

24/09/04 15:05:51 WARN JdbcCatalog: JDBC catalog is initialized without view support. To auto-migrate the database's schema and enable view support, set jdbc.schema-version=V1

++
||
++
++

In [7]:
%%sql

CREATE DATABASE IF NOT EXISTS nyc;

Py4JJavaError: An error occurred while calling o60.sql.
: org.apache.iceberg.jdbc.UncheckedSQLException: Failed to execute exists query: SELECT table_namespace FROM iceberg_tables WHERE catalog_name = ? AND  (table_namespace = ? OR table_namespace LIKE ? ESCAPE '\') LIMIT 1
	at org.apache.iceberg.jdbc.JdbcUtil.exists(JdbcUtil.java:793)
	at org.apache.iceberg.jdbc.JdbcUtil.namespaceExists(JdbcUtil.java:761)
	at org.apache.iceberg.jdbc.JdbcCatalog.namespaceExists(JdbcCatalog.java:591)
	at org.apache.iceberg.jdbc.JdbcCatalog.loadNamespaceMetadata(JdbcCatalog.java:475)
	at org.apache.iceberg.spark.SparkCatalog.loadNamespaceMetadata(SparkCatalog.java:462)
	at org.apache.spark.sql.connector.catalog.SupportsNamespaces.namespaceExists(SupportsNamespaces.java:98)
	at org.apache.spark.sql.execution.datasources.v2.CreateNamespaceExec.run(CreateNamespaceExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.SQLSyntaxErrorException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''\') LIMIT 1' at line 1
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:120)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeInternal(ClientPreparedStatement.java:953)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeQuery(ClientPreparedStatement.java:1003)
	at org.apache.iceberg.jdbc.JdbcUtil.lambda$exists$4(JdbcUtil.java:783)
	at org.apache.iceberg.ClientPoolImpl.run(ClientPoolImpl.java:58)
	at org.apache.iceberg.ClientPoolImpl.run(ClientPoolImpl.java:51)
	at org.apache.iceberg.jdbc.JdbcUtil.exists(JdbcUtil.java:776)
	... 49 more

In [4]:
%%sql

DROP TABLE IF EXISTS nyc.taxis

++
||
++
++

In [5]:
df = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2021-04.parquet")
df.write.saveAsTable("nyc.taxis")

In [6]:
%%sql

DESCRIBE EXTENDED nyc.taxis

+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                                                           data_type | comment |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     VendorID |                                                                                                                                              bigint |    None |
|         tpep_pickup_datetime |                                                                                                                                       timestamp_ntz |    None |
|        tpep_dropoff_datetime |                                                                                                                                       timestamp_ntz |    None |
|              passenger_count |                                                                                                                                              double |    None |
|                trip_distance |                                                                                                                                              double |    None |
|                   RatecodeID |                                                                                                                                              double |    None |
|           store_and_fwd_flag |                                                                                                                                              string |    None |
|                 PULocationID |                                                                                                                                              bigint |    None |
|                 DOLocationID |                                                                                                                                              bigint |    None |
|                 payment_type |                                                                                                                                              bigint |    None |
|                  fare_amount |                                                                                                                                              double |    None |
|                        extra |                                                                                                                                              double |    None |
|                      mta_tax |                                                                                                                                              double |    None |
|                   tip_amount |                                                                                                                                              double |    None |
|                 tolls_amount |                                                                                                                                              double |    None |
|        improvement_surcharge |                                                                                                                                              double |    None |
|                 total_amount |                                                                                                                                              double |    None |
|         congestion_surcharge |                                                                                                                                              double |    None |
|                  airport_fee |                                                                                                                                              double |    None |
|                              |                                                                                                                                                     |         |
|           # Metadata Columns |                                                                                                                                                     |         |
|                     _spec_id |                                                                                                                                                 int |         |
|                   _partition |                                                                                                                                            struct<> |         |
|                        _file |                                                                                                                                              string |         |
|                         _pos |                                                                                                                                              bigint |         |
|                     _deleted |                                                                                                                                             boolean |         |
|                              |                                                                                                                                                     |         |
| # Detailed Table Information |                                                                                                                                                     |         |
|                         Name |                                                                                                                              jdbc_catalog.nyc.taxis |         |
|                         Type |                                                                                                                                             MANAGED |         |
|                     Location |                                                                                                                      s3a://warehouse-jdbc/nyc/taxis |         |
|                     Provider |                                                                                                                                             iceberg |         |
|                        Owner |                                                                                                                                                root |         |
|             Table Properties | [current-snapshot-id=2325479961155238400,format=iceberg/parquet,format-version=2,write.format.default=parquet,write.parquet.compression-codec=zstd] |         |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+

In [8]:
%%sql

USE iceberg;

++
||
++
++

In [9]:
%%sql

DESCRIBE EXTENDED nyc.taxis

+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                                                           data_type | comment |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     VendorID |                                                                                                                                              bigint |    None |
|         tpep_pickup_datetime |                                                                                                                                       timestamp_ntz |    None |
|        tpep_dropoff_datetime |                                                                                                                                       timestamp_ntz |    None |
|              passenger_count |                                                                                                                                              double |    None |
|                trip_distance |                                                                                                                                              double |    None |
|                   RatecodeID |                                                                                                                                              double |    None |
|           store_and_fwd_flag |                                                                                                                                              string |    None |
|                 PULocationID |                                                                                                                                              bigint |    None |
|                 DOLocationID |                                                                                                                                              bigint |    None |
|                 payment_type |                                                                                                                                              bigint |    None |
|                  fare_amount |                                                                                                                                              double |    None |
|                        extra |                                                                                                                                              double |    None |
|                      mta_tax |                                                                                                                                              double |    None |
|                   tip_amount |                                                                                                                                              double |    None |
|                 tolls_amount |                                                                                                                                              double |    None |
|        improvement_surcharge |                                                                                                                                              double |    None |
|                 total_amount |                                                                                                                                              double |    None |
|         congestion_surcharge |                                                                                                                                              double |    None |
|                  airport_fee |                                                                                                                                              double |    None |
|                              |                                                                                                                                                     |         |
|           # Metadata Columns |                                                                                                                                                     |         |
|                     _spec_id |                                                                                                                                                 int |         |
|                   _partition |                                                                                                                                            struct<> |         |
|                        _file |                                                                                                                                              string |         |
|                         _pos |                                                                                                                                              bigint |         |
|                     _deleted |                                                                                                                                             boolean |         |
|                              |                                                                                                                                                     |         |
| # Detailed Table Information |                                                                                                                                                     |         |
|                         Name |                                                                                                                                   iceberg.nyc.taxis |         |
|                         Type |                                                                                                                                             MANAGED |         |
|                     Location |                                                                                                                    s3a://warehouse-hadoop/nyc/taxis |         |
|                     Provider |                                                                                                                                             iceberg |         |
|                        Owner |                                                                                                                                                root |         |
|             Table Properties | [current-snapshot-id=2996251247589105811,format=iceberg/parquet,format-version=2,write.format.default=parquet,write.parquet.compression-codec=zstd] |         |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+---------+

In [20]:
%%sql

USE demo;

++
||
++
++

In [22]:
%%sql

CREATE DATABASE IF NOT EXISTS nyc;

++
||
++
++

In [28]:
%%sql

DROP TABLE demo.nyc.taxis;

++
||
++
++

In [ ]:
%%sql
DROP TABLE demo.nyc.taxis PURGE;

In [24]:
df = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2021-04.parquet")
df.write.saveAsTable("nyc.taxis")

In [29]:
%%sql

select * from  demo.nyc.taxis LIMIT 10;

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `demo`.`nyc`.`taxis` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 2 pos 15;
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Project [*]
      +- 'UnresolvedRelation [demo, nyc, taxis], [], false

In [27]:
%%sql

DESCRIBE nyc.taxis;

+-----------------------+---------------+---------+
|              col_name |     data_type | comment |
+-----------------------+---------------+---------+
|              VendorID |        bigint |    None |
|  tpep_pickup_datetime | timestamp_ntz |    None |
| tpep_dropoff_datetime | timestamp_ntz |    None |
|       passenger_count |        double |    None |
|         trip_distance |        double |    None |
|            RatecodeID |        double |    None |
|    store_and_fwd_flag |        string |    None |
|          PULocationID |        bigint |    None |
|          DOLocationID |        bigint |    None |
|          payment_type |        bigint |    None |
|           fare_amount |        double |    None |
|                 extra |        double |    None |
|               mta_tax |        double |    None |
|            tip_amount |        double |    None |
|          tolls_amount |        double |    None |
| improvement_surcharge |        double |    None |
|          total_amount |        double |    None |
|  congestion_surcharge |        double |    None |
|           airport_fee |        double |    None |
+-----------------------+---------------+---------+

In [25]:
%%sql

DESCRIBE EXTENDED nyc.taxis

+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                                                                                                     data_type | comment |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     VendorID |                                                                                                                                                                                        bigint |    None |
|         tpep_pickup_datetime |                                                                                                                                                                                 timestamp_ntz |    None |
|        tpep_dropoff_datetime |                                                                                                                                                                                 timestamp_ntz |    None |
|              passenger_count |                                                                                                                                                                                        double |    None |
|                trip_distance |                                                                                                                                                                                        double |    None |
|                   RatecodeID |                                                                                                                                                                                        double |    None |
|           store_and_fwd_flag |                                                                                                                                                                                        string |    None |
|                 PULocationID |                                                                                                                                                                                        bigint |    None |
|                 DOLocationID |                                                                                                                                                                                        bigint |    None |
|                 payment_type |                                                                                                                                                                                        bigint |    None |
|                  fare_amount |                                                                                                                                                                                        double |    None |
|                        extra |                                                                                                                                                                                        double |    None |
|                      mta_tax |                                                                                                                                                                                        double |    None |
|                   tip_amount |                                                                                                                                                                                        double |    None |
|                 tolls_amount |                                                                                                                                                                                        double |    None |
|        improvement_surcharge |                                                                                                                                                                                        double |    None |
|                 total_amount |                                                                                                                                                                                        double |    None |
|         congestion_surcharge |                                                                                                                                                                                        double |    None |
|                  airport_fee |                                                                                                                                                                                        double |    None |
|                              |                                                                                                                                                                                               |         |
|           # Metadata Columns |                                                                                                                                                                                               |         |
|                     _spec_id |                                                                                                                                                                                           int |         |
|                   _partition |                                                                                                                                                                                      struct<> |         |
|                        _file |                                                                                                                                                                                        string |         |
|                         _pos |                                                                                                                                                                                        bigint |         |
|                     _deleted |                                                                                                                                                                                       boolean |         |
|                              |                                                                                                                                                                                               |         |
| # Detailed Table Information |                                                                                                                                                                                               |         |
|                         Name |                                                                                                                                                                                demo.nyc.taxis |         |
|                         Type |                                                                                                                                                                                       MANAGED |         |
|                     Location |                                                                                                                                                                 s3://warehouse-rest/nyc/taxis |         |
|                     Provider |                                                                                                                                                                                       iceberg |         |
|                        Owner |                                                                                                                                                                                          root |         |
|             Table Properties | [created-at=2024-09-04T15:24:43.892465898Z,current-snapshot-id=2012991798898269596,format=iceberg/parquet,format-version=2,write.format.default=parquet,write.parquet.compression-codec=zstd] |         |
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+